<img class="author" src="/images/usuario.png"  />
<p class="author">Author 1</p>
<p class="text_line"></p>
<img class="author" src="/images/usuario.png"  />
<p class="author">Author 2</p>
<p class="text_line"></p>

